//////////////////
// Buttons
//////////////////

.ghost-button {
  background: transparent;
  border: 3px solid $white;

  &:hover {
    background: $white;
    color: $primary-color;
  }
}

.button {

  &.tertiary {
    background-color: $tertiary-color;
    color: $primary-color;

    &:hover {
      background-color: lighten($tertiary-color, 10%);
    }
  }

  &.quaternary {
    background-color: $quaternary-color;
  }
}

.reveal {
  text-align: center;

  .stripe-button-el {
    @extend .button;
    @extend .expand;
    width: 100%;

    span {
      background: none;
      background-image: none;
      box-shadow: none;
    }

    &:active {
      span {
        background: transparent !important;
      }
    }
  }
}