///////////////////////////
// Bottom text
///////////////////////////

.about-section {
  padding: rem-calc(20 0);

  @include breakpoint(large up) {
    padding: rem-calc(50 0);
  }

  h5 {
    letter-spacing: rem-calc(10);
    text-transform: uppercase;
  }
}
