///////////////////////////
// Bottom text
///////////////////////////

.about-section {
  padding: rem-calc(20 0);

  @include breakpoint(large up) {
    padding: rem-calc(50 0);
  }

  h6 {
    text-transform: uppercase;
  }
}

.about-section--location {
  border-bottom: 1px solid $quaternary-color;
  padding: rem-calc(10 0 20);
  margin-bottom: rem-calc(20);

  h3 {
    color: $tertiary-color;
  }
}