//////////////////////////
// Money progress meter
//////////////////////////
$therm-height: rem-calc(20);

.goal-description {
  text-align: center;
  padding: rem-calc(20 0);

  @include breakpoint(large up) {
    padding: rem-calc(50 0);
    text-align: right;
  }

  h3, h6, p {
    margin: 0;
    margin: 0;
  }

  h3 {
    color: $secondary-color;
    font-family: 'chunkfiveroman';
    font-weight: normal;
  }

  h6 {
    font-size: rem-calc(12);
    font-weight: 800;
    color: $primary-color;

    @include breakpoint(medium up) {
      font-size: rem-calc(16);
    }
  }

  p {
    color: $dark-gray;
  }
}

.goal-1,
.goal-2 {
  position: absolute;
  left: 25%;
  top: 45%;
  padding: 0;

  @include breakpoint(large up) {
    top: 45%;
  }

  &:before {
    content: "|";
    color: $primary-color;
  }

  &.goal-description {
    text-align: left;
  }

  p {
    font-size: rem-calc(12);
  }
}

.goal-2 {
  left: 80%;

  &:before {
    text-align: right;
  }
}

.money-progress--col-2 {
  padding-bottom: rem-calc(80);
  position: relative;
}

.goal-description--top {
  font-size: rem-calc(12);
  display: inline-block;
  margin-right: rem-calc(30);

  @include breakpoint(medium up) {
    margin-right: rem-calc(60);
  }


  h5 {
    font-weight: 800;
    margin: 0;
  }

  p {
    color: $dark-gray;
  }
}

//.donation-therm {
//  bottom: 0;
//  position: absolute;
//  width: 100%;
//
//  .donation-therm--glass {
//    background: #e5e5e5;
//    border-radius: 0 100px 100px 0;
//    display: block;
//    height: $therm-height;
//    margin: 0 35px 10px;
//    padding: 5px;
//    position: relative;
//    width: 95%;
//  }
//  .amount {
//    background: $secondary-color;
//    border-radius: 100px;
//    display: block;
//    height: rem-calc(14);
//    position: absolute;
//    bottom: 3px;
//  }
//  strong { display: block; text-align: center; }
//  .goal {
//    font-size: 30px;
//  }
//  .total {
//    font-size: 16px;
//    position: absolute;
//    right: 35px;
//  }
//}
//
//.donation-therm--bulb {
//  background: #e5e5e5;
//  border-radius: 100px;
//  display: block;
//  height: 50px;
//  margin-left: rem-calc(35);
//  padding: 5px;
//  position: relative;
//  top: -43px;
//  right: 15px;
//  width: 50px;
//  .red-circle {
//    background: $secondary-color;
//    border-radius: 100px;
//    display: block;
//    height: rem-calc(40);
//    width: rem-calc(40);
//  }
//  .filler {
//    background: $secondary-color;
//    border-radius: 0 100px 100px 0;
//    display: block;
//    height: rem-calc(14);
//    width: $therm-height;
//    position: relative;
//    top: -72%;
//    right: -30px;
//    z-index: 30;
//  }
//}
