///////////////////////////////
// Navigation bar
///////////////////////////////

.top-bar-title {
  text-align: center;
}

.small-logo-text {
  display: block;
}

.top-bar {
  color: $quaternary-color;
  font-weight: 400;
  letter-spacing: rem-calc(10);
  text-transform: uppercase;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  @include breakpoint(medium up) {

  }
}

.main-logo {
  max-width: rem-calc(100);

  @include breakpoint(medium up) {
    min-width: rem-calc(150);
  }

  @include breakpoint(large up) {
    min-width: rem-calc(200);
  }
}

.top-bar-title {
  //@include breakpoint(large up) {
  //  padding-left: rem-calc(160);
  //}
}

.top-bar-right {
  top: rem-calc(5);
  right: rem-calc(10);
  position: absolute;

  .button {
    background-color: $tertiary-color;
    border: 3px solid $tertiary-color;
    color: $primary-color;
    letter-spacing: 0;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
      color: $white;
      background-color: transparent;
    }
  }

  a {
    color: $white;
    font-size: rem-calc(20);
    line-height: 1;
    transform-origin: 40% 40%;

    &:hover {
      animation-name: popSnap;
      animation-iteration-count: 1;
      animation-duration: 0.3s;
    }
  }

  ul {
    margin: 0;
    list-style: none;
  }
}

.reveal {
  border-radius: rem-calc(20);

  form {
    //display: inline-block;
  }
}


//.dropdown.menu {
//  .submenu {
//    border: 0 none;
//    min-width: 100%;
//    margin: 0;
//    text-align: center;
//  }
//  .has-submenu.is-down-arrow {
//    .dropdown-link {
//      letter-spacing: 0;
//      color: $white;
//      font-weight: 800;
//      transition: all 0.3s ease;
//      &:after {
//        border-color: $white transparent transparent;
//      }
//    }
//
//    i:before {
//      text-align: center;
//    }
//
//    .submenu a {
//      display: block;
//      line-height: 1;
//      padding: rem-calc(10);
//      font-size: rem-calc(19);
//
//      &:hover {
//        background-color: $light-gray;
//        animation-name: popSnap;
//        animation-iteration-count: 1;
//        animation-duration: 0.1s;
//      }
//    }
//
//    .fa-twitter {
//      color: $twitter-color;
//    }
//
//    .fa-facebook {
//      color: $facebook-color;
//    }
//
//    &.is-active {
//      .dropdown-link {
//        color: $primary-color;
//        background-color: $white;
//        &:after {
//          border-color: $primary-color transparent transparent;
//        }
//      }
//    }
//  }
//}

.share-links-small {
  text-align: center;

  h5 {
    color: $white;
  }

  a {
    color: $white;
    padding: rem-calc(5 20);
  }
}
