///////////////////////////
// Wallpaper
///////////////////////////
@keyframes hopHop {
  0% {
    top: -3px;
  }
  40% {
    top: 3px;
  }
  80% {
    top: -1px;
  }
  100% {
    top: 0;
  }
}

.wallpaper {
  background-size: cover;
  background-image: url(../img/light-polygons.png);
  border-top: rem-calc(10) solid $secondary-color;
  background-position: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: rem-calc(120 0 40 0);

  @include breakpoint(large up) {
    background-size: cover;
    height: 85vh;
    min-height: rem-calc(660);
    padding: 0;
    position: relative;
  }

  h2, p {
    color: $white;
  }

  h2 {
    font-family:'3Dumb', $header-font-family;
    font-weight: 800;
    text-transform: uppercase;

    @include breakpoint(large up) {
      font-size: rem-calc(50);
    }
  }

  h4 {
    color: $quaternary-color;
    font-family: 'chunkfiveroman';
    font-weight: normal;
    text-transform: uppercase;
  }

  a {
    //color: $white;
    display: inline-block;
    font-size: rem-calc(20);
    font-weight: 700;
    vertical-align: middle;
    //animation-name: hopHop;
    //animation-iteration-count: 3;
    //animation-duration: 1s;
    //position: relative;

    i {
      display: inline-block;
      font-size: rem-calc(25);
      vertical-align: middle;
      animation-duration: .2s;

    }
  }
}

.kids-background {
  bottom: rem-calc(-180);
  left: 10%;
  position: absolute;
  width: 80%;

  @include breakpoint(large up) {
    bottom: -30%;
  }
}

.wallpaper--content {
  @include breakpoint(large up) {
    @include center();
    padding-top: rem-calc(25);
    width: 75%;
  }
  z-index: 2;

  .donate-button {
    padding: rem-calc(20);
  }
}

.wallpaper--icon-row {

  i {
    color: $quaternary-color;
    font-size: rem-calc(40);
  }
}

.wallpaper--content--info {
  margin-bottom: rem-calc(40);

  > div:first-child {
    @include breakpoint(large up) {
      border-right: 1px solid $white;
    }
  }
}


.reveal.large {
  height: 100vh;
  width: 100%;
  max-width: 95%;
  max-height: 100vh !important;
  margin-top: 0;
  top: 0 !important;

  .flex-video.widescreen {
    margin: 0;
  }
}