<div class="about-section">
  <div class="row">
    <div class="small-12 medium-7 columns">
      <h2>Let's get healthy together!</h2>
      <h6>Race for Education | Amazing Race | 6th Grade Legacy Project</h6>
      <div class="row about-section--location">
        <div class="small-12 medium-3 columns">
          <h3>When</h3>
        </div>
        <div class="small-12 medium-8 medium-offset-1 columns">
          <p>Wednesday, April 6 2016 from 9am to 1pm</p>
        </div>
      </div>
      <div class="row about-section--location">
        <div class="small-12 medium-3 columns">
          <h3>Where</h3>
        </div>
        <div class="small-12 medium-8 medium-offset-1 columns">
          <p>Hesperia Christian School Gymnasium</p>
        </div>
      </div>
      <div class="row about-section--location">
        <div class="small-12 medium-3 columns">
          <h3>Why</h3>
        </div>
        <div class="small-12 medium-8 medium-offset-1 columns">
          <ul>
            <li>Reach 200+ people that are interested in health and wellness</li>
            <li>Support the HCS 6th grade class in their efforts to purchase a <strong>four seater seesaw</strong> and <strong>new tennis court.</strong></li>
          </ul>
        </div>
      </div>
      <p>Don’t miss your chance to sponsor and/or register a booth for this incredible event! This is a great opportunity to not only reach the local community, but also help the HCS Legacy Project in achieving their goal!</p>
      <!--<ul>-->
        <!--<li>This can be a list of some kind</li>-->
        <!--<li>We can add more...</li>-->
        <!--<li>Or delete it all together</li>-->
      <!--</ul>-->
    </div>
    <div class="small-12 medium-5 columns about-section--image">
      <img src="{{root}}assets/img/tennis-courts.jpg" />
      <a data-open="paymentModal" class="large button expand secondary donate-button">Sponsor Us</a>
    </div>
  </div>
</div>