<div class="wallpaper" data-interchange="[{{root}}assets/img/top-bg-sm.jpg, small], [{{root}}assets/img/top-bg.jpg, medium]">
  <div class="row">
    <div class="large-12 columns">
      <div class="wallpaper--content">
        <!--<div class="wallpaper&#45;&#45;icon-row"><i class="fa fa-bicycle"></i><i class="fa fa-heart-o"></i><i class="fa fa-user-md"></i></div>-->
        <h2>Leaving a lasting legacy</h2>
        <div class="row wallpaper--content--info">
          <div class="small-12 large-7 columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel elementum turpis. Phasellus tempus mi semper massa vulputate, a sagittis ex ultrices. Aenean sit amet sodales nulla.</p>
          </div>
          <div class="small-12 large-4 columns">
            <h4>Wednesday, April 6 2016</h4>
          </div>
        </div>

        <a href="#" class="button ghost-button"><i class="fa fa-play-circle-o"></i> Watch our video</a>
        <span class="hide-for-large">
          <a data-open="paymentModal" class="button tertiary donate-button">Sponsor Us!</a>
        </span>
      </div>
      <img class="kids-background show-for-large" src="{{root}}assets/img/kids-class.png" />
    </div>
  </div>
</div>