<div class="wallpaper"
     data-vide-bg="mp4: https://s3-us-west-2.amazonaws.com/hesperiachristian/HCS-looping.mp4, webm: https://s3-us-west-2.amazonaws.com/hesperiachristian/HCS-looping.webm, poster: {{root}}assets/img/top-bg.jpg"
     data-vide-options="posterType: jpg, loop: true, muted: true, position: 0% 0%">
     <!--data-interchange="[{{root}}assets/img/top-bg-sm.jpg, small], [{{root}}assets/img/top-bg.jpg, medium]">-->
  <div class="row">
    <div class="large-12 columns">
      <div class="wallpaper--content">
        <div class="row wallpaper--content--info">
          <div class="small-12 columns">
            <a data-open="videoModal" class="button ghost-button"><i class="fa fa-play-circle-o"></i> Watch our video</a>
            <h2>Leaving a lasting legacy</h2>
          </div>
          <div class="small-12 large-6 columns business-info">
            <p>Want to donate directly to the HCS Legacy Project? All donations go towards helping the 6th grade class reach their goal of purchasing a four seater seesaw and re-doing the tennis courts. No matter the amount, every little bit helps! We are extremely grateful to all the family, friends, and all other individuals who are helping our students leave a lasting legacy!</p>
            <a data-open="donateModal" class="button tertiary donate-button">Donate Now!</a>
          </div>
          <div class="small-12 large-6 columns">
            <p>Hesperia Christian School is proud to present the Health and Wellness Expo!  With over 200 people set to attend, this is the perfect event to promote and learn about the benefits of healthy living.  All proceeds for the event will go towards funding the HCS Legacy Project. Don’t miss the opportunity to become a sponsor and/or reserve a booth.</p>
            <a data-open="paymentModal" class="button tertiary donate-button">Sponsor Us!</a>
          </div>
        </div>
        <div class="hide-for-medium share-links-small">
          <h5>Share and help us reach our goal:</h5>
          <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&text=Support%20our%20legacy%20at%20Hesperia%20Christian%20School&tw_p=tweetbutton&url=http%3A%2F%2Fhcslegacy.org"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="https://www.facebook.com/sharer.php?u=http://hcslegacy.org"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
      <img class="kids-background show-for-large" src="{{root}}assets/img/kids-class.png" />
    </div>
  </div>
</div>