<div class="money-progress">
  <div class="row align-middle">
    <div class="small-12 large-4 columns money-progress--col-1">
      <div class="goal-description">
        <h3>With Your Help, We Can Reach Two Goals for Our School!</h3>
        <p>As we move on to the 7th grade, we want to leave behind a <strong>lasting legacy</strong> for all other elementary students by purchasing a <strong>four-seater seesaw</strong> and <strong>re-doing our tennis courts</strong>!</p>
      </div>
    </div>
    <div class="small-12 large-6 columns money-progress--col-2">
      <div class="goal-description--top">
        <h5>15%</h5>
        <p>Funded</p>
      </div>
      <div class="goal-description--top">
        <h5>June 3rd</h5>
        <p>Deadline</p>
      </div>
      <div class="goal-description--top">
        <h5>$2,188</h5>
        <p>Pledged</p>
      </div>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 15%">
          </span>
      </div>
      <div class="goal-1 goal-description show-for-medium">
        <img src="{{root}}assets/img/seesaw-sm.jpg" />
        <div class="goal-description--text">
          <h6>Four Seater Seesaw</h6>
          <p>$2,000</p>
        </div>
      </div>
      <div class="goal-2 goal-description show-for-medium">
        <img src="{{root}}assets/img/tennis-courts-sm.jpg" />
        <div class="goal-description--text">
          <h6>New Tennis Courts</h6>
          <p>$13,000</p>
        </div>
      </div>
    </div>
  </div>
</div>