<div class="money-progress">
  <div class="row align-middle">
    <div class="small-12 large-4 columns money-progress--col-1">
      <div class="goal-description">
        <h3>We want to reach two goals for our school</h3>
        <p>Explain what <strong>these goals are</strong> and what they mean to the school, and for the students that come after them.</p>
      </div>
    </div>
    <div class="small-12 large-8 columns money-progress--col-2">
      <div class="goal-description--top">
        <h5>25%</h5>
        <p>Funded</p>
      </div>
      <div class="goal-description--top">
        <h5>March 1st</h5>
        <p>Deadline</p>
      </div>
      <div class="goal-description--top">
        <h5>$5k</h5>
        <p>Pledged</p>
      </div>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
          <span class="progress-meter" style="width: 25%">
          </span>
      </div>
      <div class="goal-1 goal-description show-for-medium">
        <img src="{{root}}assets/img/seesaw-sm.jpg" />
        <div class="goal-description--text">
          <h6>New Seesaw</h6>
          <p>This is cool!</p>
        </div>
      </div>
      <div class="goal-2 goal-description show-for-medium">
        <img src="{{root}}assets/img/tennis-courts-sm.jpg" />
        <div class="goal-description--text">
          <h6>Replace tennis courts</h6>
          <p>This is cool!</p>
        </div>
      </div>
    </div>
  </div>
</div>