<div class="picture-section">
    <div class="small-12 image-gallery">
      <ul>
        <li><img src="{{root}}assets/img/legacypictures/hcs-activelamp.JPG" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-bake-sale.JPG" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-basketball.jpeg" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-candy.JPG" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-candy2.JPG" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-heritage.JPG" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-recycling.JPG" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-basketball2.jpeg" alt=""></li>
        <li><img src="{{root}}assets/img/legacypictures/hcs-stine.JPG" alt=""></li>
      </ul>

    </div>
</div>