<div class="gold sponsor-bar">
  <div class="row">
    <div class="large-12 columns">
      <h3>Gold</h3>
      <!--<h4 class="show-for-large">Gold</h4>-->
      <div class="row sponsor-bar--sponsors">
        <div class="small-12 medium-4 columns empty"><a href="http://www.choicemg.com/" target="_blank"><img alt="Choice Medical Group" src="{{root}}assets/img/cmg-logo.jpg" /></a></div>
        <div class="small-12 medium-4 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-12 medium-4 columns"><a href="http://activelamp.com" target="_blank"><img alt="ActiveLAMP Web Development" src="{{root}}assets/img/activelamp-logo.svg" /></a></div>
      </div>
    </div>
  </div>
</div>

<div class="silver sponsor-bar">
  <div class="row">
    <div class="large-12 columns">
      <h3>Silver</h3>
      <!--<h4 class="show-for-large">Silver</h4>-->
      <div class="row sponsor-bar--sponsors">
        <div class="small-4 medium-2 columns"><a href="http://www.stinechiropractic.com/" target="_blank"><img alt="Stine Chiropractic" src="{{root}}assets/img/stein.jpg" /></a></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
      </div>
    </div>
  </div>
</div>

<div class="bronze sponsor-bar">
  <div class="row">
    <div class="large-12 columns">
      <h3>Bronze</h3>
      <!--<h4 class="show-for-large">Bronze</h4>-->
      <div class="row sponsor-bar--sponsors">
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
        <div class="small-4 medium-2 columns empty"><!--<img src="{{root}}assets/img/valley-hi-nissan.svg" />--></div>
      </div>
    </div>
  </div>
</div>